__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3
migrations/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Ipython Notebook
.ipynb_checkpoints

# Virtual Environment
master_venv/