__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3
migrations/
local_settings.py

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Ipython Notebook
.ipynb_checkpoints

# Virtual Environment
safe_eats_venv/
