__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3
local_settings.py

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Ipython Notebook
.ipynb_checkpoints

# Virtual Environment
safe_eats_venv/

.DS_Store
safe_eats_project/.DS_Store

restaurants.json
inspection_reports.json
inspection_results.json