{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Safe Eats</h1>
    <p>Restaurant Inspection Report Details</p>
</div>

<div style="jumbotron">
{{ rest_info.business_name }}<br>
{{ rest_info.address }}
<br>
<br>
{% for rep in reports %}
<div style="background-color: beige; margin: 5px;">
{{ rep.inspection_date }}<br>
    {% for x in rep.related_set %}
        {% if x.violation_description == '' %}
            Satisfactory<br>
            <br>
        {% else %}
        {{ x.violation_description }}<br>
        <br>
        {% endif %}
    {% endfor %}
    </div>
{% endfor %}

</div>
{% endblock %}
