<div class="bs-callout bs-callout-info">
<p>
Restaurant Name:  <b>{{ rest_info.business_name }}</b><br>
Address:  <b>{{ rest_info.address }}</b>
<br>
<br>
<!-- display all reports for each restaurant-->
{% for rep in reports %}
</p>
<div>
    <!--for each inspection report display all related results-->
    <p class="bg-info">
{{ rep.inspection_date }}<br>
    {% for x in rep.related_set %}
    {{ x.inspection_result }}
        <!--if no violation description exists then print an english Satifactory result-->
        {% if x.violation_description == '' %}
            Satisfactory<br>
            <br>
        <!--if a violation description exists then print all results-->
        {% else %}
        <p class="bg-warning">
        {{ x.violation_description }}<br>
        <br>
        {% endif %}
    {% endfor %}
    </div>
{% endfor %}
    </p>
</div>
