<head>
  <title>Safe Eats</title>

  <meta charset="UTF-8">
  <title>Safe Eats</title>
  <link rel="stylesheet" href="../static/safe_eats/css/styles.css" />
</head>

<!--<input id="pac-input" class="controls" type="text"
    placeholder="Enter a location">
<div id="type-selector" class="controls">
  <input type="radio" name="type" id="changetype-all">
  <label for="changetype-all">All</label>

  <input type="radio" name="type" id="changetype-establishment" checked="checked">
  <label for="changetype-establishment">Establishments</label>

  <input type="radio" name="type" id="changetype-address">
  <label for="changetype-address">Addresses</label>

  <input type="radio" name="type" id="changetype-geocode">
  <label for="changetype-geocode">Geocodes</label>
</div>-->
<div id="map"></div>


<script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places&callback=initMap" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="../static/safe_eats/js/API_call.js"></script>