<!--document.getElementById('modify').innerHTML = ""; //delete the existing homepage map div -->

{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div>
    <div class="container mainContent">
        <div id="slide-panel"></div>
        <div id="modify">
            <div id="map"></div>
        </div>
    </div>
</div>

<script src="http://maps.google.com/maps/api/js?sensor=false"
        type="text/javascript"></script>
<!--Below we will draw a google map based on lat/long from each restaurant-->
<script>
    var infos = [];
    var loc = {{ restaurants|safe }};
    var slidePanelId;

    function initialize() {
        // create a google map and center it on the city of seattle
        var myOptions = {
            center: new google.maps.LatLng(47.6023411, -122.3238544),
            zoom: 11,
            mapTypeId: google.maps.MapTypeId.ROADMAP

        };
        var map = new google.maps.Map(document.getElementById("map"),
                myOptions);

        setMarkers(map, loc)

    }


    function setMarkers(map, loc) {
        // create an array of markers to add to the google map
        for (var i in loc) {
            var obj = loc[i];
            var name = obj.name;
            var lat = obj.latitude;
            var long = obj.longitude;
            console.log(obj)
            console.log(name)

            latlngset = new google.maps.LatLng(lat, long);
            //define where to set the markers
            var marker = new google.maps.Marker({
                map: map, title: name, position: latlngset
            });
            map.setCenter(marker.getPosition());

            //display the inspection result, inspection score and description of results



            // content string to place in the infowindow
            var content = '<div class="infowindow"><b><a href="#" onclick="slidePanel(\'' + obj.bus_id + '\');return false;">' + obj.name + '</a></b></div>' + '<div class="infowindow">' + obj.address + '</div>' + '<div class="infowindow">' + 'Inspection Result:  ' + obj.inspection_result + '</div>' + '<div class="infowindow">' + 'Inspection Date:  ' + obj.inspection_date + '</div>' + '<div class="infowindow">' + 'Inspection Score:  ' + obj.inspection_score + '</div>' + '<div class="infowindow">' + obj.description + '</div>';

            var infowindow = new google.maps.InfoWindow();
            // add a click event listener when the user clicks on a marker to display the infowindow
            google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                return function () {
                    // close the previous info-window
                    closeInfos();
                    infowindow.setContent(content);
                    infowindow.open(map, marker);
                    // keep the handle, in order to close it on next click event
                    infos[0] = infowindow;
                };
            })(marker, content, infowindow));
        }
    }

    function closeInfos() {
        if (infos.length > 0) {
            // detach the info-window from the marker ... undocumented in the API docs
            infos[0].set("marker", null);
            // and close it
            infos[0].close();
            // blank the array
            infos.length = 0;
        }
    }
    initialize();
</script>
<script src="{% static 'safe_eats/js/side_panel.js' %}"></script>
{% endblock %}