{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Safe Eats</title>
    <link rel="stylesheet" href="{% static 'safe_eats/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'safe_eats/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'safe_eats/css/styles.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="{% static 'safe_eats/js/bootstrap.min.js' %}"></script>

    <style type="text/css"></style>
</head>

<body>

<div class="panel panel-default">
  <div class="panel-body">
  <form id="searchform" method="post" class="navbar-form navbar-left" action="/neighborhood/">
    {% csrf_token %}
    <div class="input-group">
      <select name="name" class="form-control" id="select">
        <optgroup label="Downtown Districts">
          <option value"" disabled selected>Select a neighborhood</option>
          <option value"98101">Downtown</option>
          <option value"98104">Pioneer Square / Chinatown</option>
          <option value"98121">Belltown / Denny Triangle</option>
        <optgroup label="Neighborhoods">
          <option value"98033">Kirkland</option>
          <option value"98199">Magnolia</option>
          <option value"98052">Redmond</option>
          <option value"98109">Queen Anne</option>
        </optgroup>
      </select>

      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Submit</button>
      </span>
      </div>
  </form>
</div>
</div>

{% block content %}

{% endblock %}
<!--
<footer class="navbar-fixed-bottom navbar">
    <p>
    Made by Ron Shafii at PDX Code Guild with attribution to Chris Jones and Patrick McNally in 2016.
    </p>
</footer>
-->
</body>



</html>
