{% load staticfiles %}
<html>
<head>

    <meta charset="UTF-8">
    <title>Safe Eats</title>
    <link rel="stylesheet" href="{% static 'safe_eats/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'safe_eats/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'safe_eats/css/styles.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="{% static 'safe_eats/js/bootstrap.min.js' %}"></script>

    <style type="text/css"></style>
</head>

<body>
{% block content %}

{% endblock %}
<!--
<footer class="navbar-fixed-bottom navbar">
    <p>
    Made by Ron Shafii at PDX Code Guild with attribution to Chris Jones and Patrick McNally in 2016.
    </p>
</footer>
-->
</body>



</html>
